<div class='container-md mx-auto dark:text-white bg-gray-100 dark:bg-gray-800 rounded-lg p-4 w-full md:w-2/3 lg:w-2/5'>
  <div class="mb-8">
    <%= form_with(model: @app, url: app_path(@app.id), method: :put, html: { class: 'max-w-sm mx-auto' }) do |form| %>
      <div class="mb-5">
        <%= form.label :name, class: 'label' %>
        <%= form.text_field :name, class: 'input-text', required: true %>
      </div>
      <div class="mb-5">
        <%= form.label :description, class: 'label' %>
        <%= form.text_area :description, class: 'input-text', required: true %>
      </div>
      <div class="mb-5">
        <%= form.label :deploy_type, class: 'label' %>
        <%= form.select :deploy_type, options_for_select(App.enum_options_for_select("deploy_type"), selected: @app.deploy_type), {}, class: "select-tag" %>
      </div>
      <div class="flex mt-8 justify-between gap-8">
        <%= link_to apps_path, class: 'btn-secondary' do %>
          Cancel
        <% end %>
        <%= form.submit 'Save', class: 'btn-primary w-auto' %>
      </div>
    <% end %>
  </div>
</div>
