<div class='container-md mx-auto dark:text-white bg-gray-100 dark:bg-gray-800 rounded-lg p-4 w-full md:w-2/3 lg:w-2/5'>
  <div class="mb-8">
    <%= form_with(model: @app, url: app_path(@app.id), method: :put, html: { class: 'max-w-sm mx-auto' }) do |form| %>
      <%= form.label :name, class: 'label' %>
      <%= form.text_field :name, class: 'input-text', required: true %>
      <p class="mt-2 text-sm text-red-600 dark:text-white">type the app name.</p>
      <div class="flex mt-8 justify-between gap-8">
        <%= link_to teams_path, class: 'btn-secondary' do %>
          Cancel
        <% end %>
        <%= form.submit 'Save', class: 'btn-primary w-auto' %>
      </div>
    <% end %>
  </div>
</div>
