<div class='container-md mx-auto dark:text-white bg-gray-100 dark:bg-gray-800 rounded-lg p-4 w-full md:w-2/3 lg:w-2/5'>
  <div class="mb-8" data-controller="app">
    <%= form_with(model: App.new, url: apps_path, method: :post, html: { class: 'mx-auto' }) do |form| %>
      <div class="mb-5">
        <%= form.label :name, class: 'label' %>
        <%= form.text_field :name, class: 'input-text', required: true %>
      </div>
      <div class="mb-5">
        <%= form.label :description, class: 'label' %>
        <%= form.text_area :description, class: 'input-text', required: true %>
      </div>
      <div class="mb-8">
        <%= form.label :deploy_type, class: 'label' %>
        <%= select_tag "deploy_type", options_for_select(App.enum_options_for_select("deploy_type")), include_blank: 'Chose an option', placeholder: 'Tipo de deploy', class: "select-tag" %>
      </div>
      
      <div id="buildpacks" class='hidden mb-5'>
        <hr class="mb-5 border-slate-400" />
        <div class="mb-5 flex justify-between gap-2">
          <div class="grow">
            <% buildpacks = Buildpack.all.map {|c| ["#{c.name}",c.id,]} %>
            <%= form.label :buildpack, value: 'Buildpacks', class: 'label' %>
            <%= select_tag "buildpack", options_for_select(buildpacks), include_blank: 'Chose an option', placeholder: 'Buildpack', class: "select-tag" %>
          </div>
          <div class="self-end">
            <div id="add-buildpack" class="btn-primary">Add</div>
          </div>
        </div>
      </div>
      <hr class="border-slate-400" />
      <div class="flex mt-10 justify-between gap-8">
        <%= link_to apps_path, class: 'btn-secondary' do %>
          Cancel
        <% end %>
        <%= form.submit 'Save', class: 'btn-primary w-auto' %>
      </div>
    <% end %>
  </div>
</div>
